<section id="welcome">
  <div class="logo col-xs-12 center-xs animated bounceInDown">Game of Drones</div>
  <div class="col-xs-12 center-xs slogan animated bounceIn">
    - Have fun like never before! -
  </div>
  <div class="col-xs-12 center-xs animated fadeIn" id="play-now-btn">
    <a ng-href="#/chooseName" class="button">Play now! (2 Players)</a>
  </div>
  <div class="col-xs-12 center-xs animated fadeIn" id="score-board-btn">
      <a ng-href="#/scoreBoard">Watch Scoreboard</a>
  </div>
</section>
